.container {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
  }
  
 .container .heading {
    font-weight: 500;
    font-size: 2.1rem;
    padding-bottom: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

 .container .btn{
     margin-left: 1000px 
    }
  .btn button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  
  }